<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
  <script src="/js/application.js"></script>

  <title>Sample Site for Sullivan by Lawson Marlowe</title>
</head>
<body>
		<div class="sitewrap">
	  <header>
	  	<a class="header-link" href="/">APPLY</a>
	  	<a class="header-link" href="/">ALUMNI</a>
	  	<a class="header-link" href="/">RECRUITERS</a>
	  	<a class="header-link last-link" href="/">FUQUAWORLD</a>
	  </header>
	  <div class="site-map-header">
	  	<span class="site-map-header-container">
	  	<a class="site-map-header-link" href="/">Programs</a>
	  	<a class="site-map-header-link" href="/">Admissions</a>
	  	<a class="site-map-header-link" href="/">Student Network</a>
	  	<a class="site-map-header-link" href="/">Faculty + Research</a>
	  	<a id="last-site-map-header-link" href="/">About</a>
	  	</span>
	  </div>
	  <div class="duke-icon-box">
	  	<span id="icon-box-title">DUKE</span>
	  	<p id="icon-box-second-title">FUQUA</p>
	  	<p id="icon-box-subtitle">A School of Business</p>
	  </div>

  	<div class="main-site-container">
	 	<% include index.ejs %>
		</div>

	 	<div class="site-map-footer">
	 		<div class="site-map-footer-column">
	 			<div class="duke-icon-box-footer">
			  	<span id="icon-box-title">DUKE</span>
			  	<p id="icon-box-second-title">FUQUA</p>
			  	<p id="icon-box-subtitle">A School of Business</p>
			  </div>
	 		</div>
	 		<div class="site-map-footer-column">
	 			<p class="site-map-footer-column-title">PROGRAMS</p>
	 			<ul class="site-map-footer-column-list">
	 				<li>Daytime MBA</li>
	 				<li>Cross-Continent MBA</li>
	 				<li>Weekend Executive MBA</li>
	 				<li>Global Executive MBA</li>
	 				<li>MMS: Foundations of Business</li>
	 				<li>MMS: Duke Kunshan University</li>
	 				<li>Master of Qualitative Management</li>
	 				<li>Executive Education</li>
	 				<li>PHD</li>
	 			</ul>
	 		</div>
	 		<div class="site-map-footer-column">
	 			<p class="site-map-footer-column-title">STUDENT NETWORK</p>
	 			<ul class="site-map-footer-column-list">
	 				<li>Student Profiles</li>
	 				<li>Alumni Ambassadors</li>
	 				<li>Employers + Industries</li>
	 				<li>Regional Groups</li>
	 				<li>Clubs + Activities</li>
	 				<li>Partners + Community</li>
	 			</ul>
	 		</div>
	 		<div class="site-map-footer-column">
	 			<p class="site-map-footer-column-title">FACULTY + RESEARCH</p>
	 			<ul class="site-map-footer-column-list">
	 				<li>Faculty Directory</li>
	 				<li>Centers</li>
	 				<li>Fuqua Insights</li>
	 			</ul>
	 		</div>
	 		<div class="site-map-footer-column">
	 			<p class="site-map-footer-column-title">ABOUT</p>
	 			<ul class="site-map-footer-column-list">
	 				<li>Leadership</li>
	 				<li>News + Events</li>
	 				<li>Locations</li>
	 				<li>Contact</li>
	 				<li>Media Room</li>
	 				<li>Jobs at Fuqua</li>
	 			</ul>
	 		</div>
	 		<div class="site-map-footer-column">
	 			<p class="site-map-footer-column-title">ADMISSIONS</p>
	 			<p class="site-map-footer-column-title">ALUMNI</p>
	 			<p class="site-map-footer-column-title bottom-right-link">FUQUAWORLD</p>
	 			<ul class="site-map-footer-column-list">
	 				<li><img class="social-media-icon" src="/img/fb.jpg">Linkedin</li>
	 				<li><img class="social-media-icon" src="/img/fb.jpg">Facebook</li>
	 				<li><img class="social-media-icon" src="/img/fb.jpg">Twitter</li>
	 				<li><img class="social-media-icon" src="/img/fb.jpg">Youtube</li>
	 			</ul>
	 		</div>
	 		<div class="site-map-footer-column-small">
	 			<ul class="site-map-footer-column-list-small">
	 				<li>PROGRAMS</li>
	 				<li>STUDENT NETWORK</li>
	 				<li>ABOUT</li>
	 			</ul>
	 		</div>
	 		<div class="site-map-footer-column-small">
	 			<ul class="site-map-footer-column-list-small">
	 				<li>ADMISSIONS</li>
	 				<li>ALUMNI</li>
	 				<li>FUQUAWORLD</li>
	 				<li>FACULTY AND RESEARCH</li>
	 			</ul>
	 		</div>
	 		<div class="social-media-small">
	 			<img class="social-media-icon" src="/img/fb.jpg">
	 			<img class="social-media-icon" src="/img/fb.jpg">
	 			<img class="social-media-icon" src="/img/fb.jpg">
	 			<img class="social-media-icon" src="/img/fb.jpg">
	 		</div>
	 	</div>
	 	<footer>
		 	<span class="copyright">@2016 Duke University Fuqua School of Business</span>
		 	<span class="footer-link-container">
		 		<a class="footer-link" href="/">Duke University</a>
		 		<span>|</span>
		  	<a class="footer-link" href="/">Duke Consumer Information</a>
		  	<span>|</span>
		  	<a class="footer-link last-link" href="/">Website Feedback</a>
		 	</span>
			<script src="//localhost:35729/livereload.js"></script>
	 	</footer>
	 	</div>

</body>
</html>