<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
  <script src="/js/application.js"></script>

  <title>Sample Site for Sullivan by Lawson Marlowe</title>
</head>
<body>
  <div class="container">
  <header> hi </header>

 <% include index.ejs %>

	</div>
	<script src="//localhost:35729/livereload.js"></script>
</body>
</html>